# from https://dev-yakuza.posstree.com/en/react/github-actions/prettier-eslint/
name: Check the source code
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: npm ci
      - name: format
        run: npm run format
      - name: lint
        run: npm run lint
